<a href="../post/post">Add New POST</a>
<br />
<br />

<form asp-action="AllPost" method="post" class="form-horizontal" role="form">
    <div class="form-group">

        <div class="col-md-5">
            <input type="submit" class="btn btn-primary" value="View All Post" />
        </div>
    </div>
</form>